body {
  width: 100%;
}

body,
#root {
  height: 100%;
  margin: 0;
}

.home-salon-promotion-container {
  max-width: 1000px;
}

.form-slide {
  align-items: center;
  color: #999;
  display: flex;
  flex-direction: column;
  margin:  0 auto;
  max-width: 1000px;
  min-height: unset;
  padding: 0 0 4rem;
  position: relative;
  text-align: center;
  width: calc( 100% - 4rem );
}

.form-slide__background {
  bottom: 0;
  display: flex;
  height: ( 100% + 4rem );
  justify-content: space-between;
  margin: 0 auto;
  max-height: 640px;
  max-width: 1000px;
  overflow-x: hidden;
  overflow-y: visible;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 101%;
}

.form-slide__body {
  color: #999;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto;
  max-width: 540px;
  width: 70vw;
}

.form-slide__body--modal {
  margin-bottom: 0;
}

.form-slide__button {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3rem;
  color: #999;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  padding: .8rem 1.6rem;
  position: absolute;
  transition: background-color 300ms ease,
    border 300ms ease,
    color 300ms ease;
}

.form-slide__button:active {
  background-color: #ccc;
  border: 1px solid #ccc;
  color: #fff;
}

.form-slide__button:hover {
  background-color: #8FAFD2;
  border: 1px solid #8FAFD2;
  color: #fff;
}

.form-slide__button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.form-slide__button--next {
  bottom: 2rem;
  left: calc( 50% + 1rem );
  position: absolute;
  right: unset;
}

.form-slide__button--prev {
  bottom: 2rem;
  left: unset;
  position: absolute;
  right: calc( 50% + 1rem );
}

.form-slide__button--submit,
.Content .form-slide input[type="submit"] {
  background-color: #739BC7 !important;
  border: 1px solid #739BC7 !important;
  border-radius: 3rem !important;
  color: #fff !important;
  cursor: pointer !important;
  font: 500 18px/28px 'Raleway', sans-serif !important;
  height: unset !important;
  margin: 1rem auto !important;
  padding: .8rem 1.6rem !important;
  position: relative !important;
  text-decoration: none !important;
  text-transform: unset !important;
  transition: background-color 300ms ease,
    border 300ms ease,
    color 300ms ease !important;
}

.form-slide__button--start {
  background-color: #739BC7;
  bottom: -1rem;
  color: #fff;
  left: 50%;
  transform: translate3d( -50%, 0, 0 );
}

.form-slide__button.active {
  background-color: rgba( 115, 155, 199, 1 );
  border: 1px solid rgba( 115, 155, 199, 1 );
  color: #fff;
}

.form-slide__button.inactive {
  background-color: #ccc;
  border: 1px solid #ccc;
  color: #fff;
  cursor: text;
}

.form-slide__button.inactive:hover {
  background-color: #ccc;
  border: 1px solid #ccc;
  color: #fff;
}

.form-slide__content {
  margin: auto;
}

.form-slide__close {
  color: #707070;
  cursor: pointer;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  position: absolute;
  right: 2rem;
  top: 1rem;
  transform: scale3d( 1.25, 1, 1 );
  transition: color 300ms ease;
}

.form-slide__close:hover {
  color: #8FAFD2;
}

.form-slide__control {
  background-color: rgba( 115, 155, 199, .1 );
  border-radius: 50%;
  display: block;
  height: 132px;
  cursor: pointer;
  transition: background-color 300ms ease;
  width: 132px;
}

.form-slide__decoration {
  height: 100%;
  object-fit: contain;
  position: absolute;
  width: 50%;
}

.form-slide__decoration--left {
  object-position: right bottom;
  right: 70vw;
}

.form-slide__decoration--right {
  left: 70vw;
  object-position: left bottom;
}

.form-slide__email,
.form-slide__inputs input[type="email"]{
  border: 1px solid #707070;
  border-radius: .5rem;
  color: #999;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  line-height: 48px;
  max-width: 580px;
  padding: 1rem 1.5rem;
  width: 100%;
}

.form-slide__foreground {
  height: 100%;
  max-width: 1280px;
  width: 100%;
}

.form-slide__form {
  margin:auto;
  max-height: 1100px;
  max-width: 1000px;
  padding: 0;
  position: relative;
  width: calc( 100% - 2px );
}

.form-slide__headline {
  color: #999;
  font-family: 'Gelasio', serif;
  font-size: 36px;
  line-height: 48px;
  margin: 1rem auto;
  max-width: 866px;
  text-align: center;
  width: 100%;
}

.form-slide__headline--modal {
  margin: 0 auto 1rem;
}

.form-slide__headline sup {
  font-size: 16px;
}

.form-slide__icon {
  margin-top: 3rem;
  width: 110px;
}

.form-slide__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: .5rem auto 2.5rem;
  width: 100%;
}

.form-slide__inputs--email {
  margin: 1rem auto;
  position: relative;
}

.form-slide__label {
  color: #739BC7;
  font-family: 'Gelasio', serif;
  font-size: 18px;
  left: 50%;
  letter-spacing: .5px;
  line-height: 24px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate3d( -50%, -50%, 0 );
  transition: color 300ms ease;
  width: 120px;
}

.form-slide__link {
  color: #8FAFD2 !important;
  font-size: 21px;
  cursor: pointer;
  text-decoration: underline;
  transition: color 300ms ease;
}

.form-slide__link:hover {
  color: #739BC7;
}

.form-slide__modal {}

.form-slide__option {
  cursor: pointer;
  margin: 1rem;
  position: relative;
}

.form-slide__radio {
  cursor: pointer;
  height: 132px;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 132px;
}

.form-slide__radio:checked ~ .form-slide__control {
  background-color: rgba( 115, 155, 199, 1 );
}

.form-slide__radio:checked ~ .form-slide__label {
  color: #fff;
}

.form-slide__spacer {
  max-width: 866px;
  width: 60vw;
}

.form-slide__subhead,
.Content .form-slide h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: .5rem auto 1.5rem;
  text-transform: unset;
}

.form-slide__subhead:hover {
  text-decoration: none;
}

.form-slide__subhead sup {
  font-size: 10px;
}

.form-slide__step {
  font-family: 'Rockwell', 'Gelasio', serif;
  font-size: 18px;
  letter-spacing: 56px;
  left: 50%;
  letter-spacing: 2px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  transform: translate3d( -50%, 0 , 0 );
}

.form-slide__trigger {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 50%;
  bottom: -.5rem;
  color: #999;
  cursor: pointer;
  font-family: 'Gelasio', serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  height: 30px;
  line-height: 32px;;
  position: absolute;
  right: -1.5rem;
  transition: background-color 300ms ease,
    color 300ms ease;
  width: 30px;
}

.form-slide__trigger:hover {
  background-color: #999;
  color: #fff;
}

.form-slide--zero .form-slide__headline {
  margin: 1.5rem auto;
}

.form-slide--seven {
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

  .form-slide--seven .form-slide__body {
    width: 50vw;
  }

.form-slide--seven .form-slide__content {
  margin-bottom: 2rem;
  max-width: 600px;
  width: 60vw;
}

.modalClose {
  background-position: center;
  background-size: 125%;
  height: 24px;
  opacity: .65;
  right: 12px;
  top: 8px;
  width: 24px;
}

.modalContainer {
  left: 50% !important;
  margin-left: 0 !important;
  max-width: 1000px;
  position: absolute;
  transform: translate3d( -50%, 0, 0 ); 
  top: 5%;
  width: 90% !important;
}

.ModalContent {
  border: none;
  padding: 0;
}

.ModalTitle {
  display: none;
}

.ReactModalPortal,
.ReactModal__Overlay {
  position: relative;
}

.ReactModal__Content.ReactModal__Content--after-open {
  align-content: center;
  background-color: #f5f5f5;
  margin-top: -16rem;
  padding: 4.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media( min-width: 960px ) {
  .form-slide {
    min-height: 640px;
  }

  .form-slide__body {
    font-size: 21px;
    line-height: 28px;
    width: 50vw;
  }

  .form-slide__button--next {
    left: unset;
    right: 4rem;
  }

  .form-slide__button--prev {
    left: 4rem;
    right: unset;
  }

  .form-slide__button--start {
    bottom: 4rem;
    padding: 1rem 6.4rem;
  }

  .form-slide__decoration--left {
    right: 700px;
  }
  
  .form-slide__decoration--right {
    left: 700px;
  }

  .form-slide__email {
    font-size: 28px;
    line-height: 56px;
    width: 80%;
  }

  .form-slide__headline {
    font-size: 42px;
    line-height: 48px;
  }

  .form-slide__icon {
    margin-top: 4rem;
  }

  .form-slide__option {
    margin: 1.5rem;
  }

  .form-slide__step {
    top: 1rem;
  }

  .form-slide--zero .form-slide__headline {
    margin: 2rem auto 3rem;
  }

  .form-slide--seven .form-slide__body {
    width: 70vw;
  }
}

.home-salon-promotion-container {
  max-width: unset !important;
  width: 100% !important;
}

.home-salon-promotion {
  border: 0 !important;
}
